@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"].</h2>


<p>This Project was sponsored by the Retail Association of America</p>
<h3>Project Developed by :</h3>
<ul>    
    <li>Abhay Badola</li>
    <li>Abhay Chile</li>
    <li>Hemanth MG</li>

</ul>
    
